body  {background-color: skyblue ; }
  h1.titulo {color: red ;  text-align: center ; text-decoration: underline black 8px; }
  h2.preparacion {color: red ;  text-align: left; text-decoration: underline black 8px; }
  li.blanco {color: white ; }
    img.portada {width: 400px ; height: 200px ; 
                 border: 5px solid  blue ; 
                }
    img.logos {width: 100px ; height: 100px ; }
    p.parrafo {font-size: 20px ; color: green; text-align: center; }
    li.enlace{text-align: center; color: blue; list-style-position: inside; }

header {background-color:green ; }
nav {background-color: white ; }
section {background-color: yellow ; }
.ultimo {background-color: red ; }
footer {background-color: black;}
h1.titulo{font-size: 50px;
  
     
}
.elemento-flotante {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 200px;
  z-index: 1000;
}
.elemento-flotante img {
  width:100%;
  height:100%;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 128, 0, 0.4);
  transition: transform 0.3s ease;
}
.elemento-flotante img:hover {
  transform: scale(1.1);
}
.whatsapp{
    position: fixed;
    bottom: 50px;
    right: 20px;
}
img.portada{
 display: block;
 margin: 0 auto;
}
.video {
   display: block;
 margin: 0 auto;

}
.logopiscaandinaa{
    width: 100px;
    height: auto; 
}
footer{display: flex;
    justify-content: space-between;
    align-items: center;
}



.logos{
    width: 100px;
    height: 100px;
}
.redes{text-align: right;}
header{display: flex;

  justify-content: space-between;
}
.redes{
width: 40px;
 height: 40px;
}
.siguenos{
    text-align:center;
}
.mapa{
    width: 350px;   
    height: 120px;  
    float: left;    
    margin-right: 20px; 
}
   
