body  {background-color: skyblue ; }
  h1.titulo {color: red ;  text-align: center ; text-decoration: underline black 8px; }
  h2.preparacion {color: red ;  text-align: left; text-decoration: underline black 8px; }
  li.blanco {color: white ; }
    img.portada {width: 400px ; height: 200px ; 
                 border: 5px solid  blue ; 
                }
    img.logos {width: 100px ; height: 100px ; }
    p.parrafo {font-size: 20px ; color: green; text-align: center; }
    li.enlace{text-align: center; color: blue; list-style-position: inside; }

